{% extends "home.html" %}
{% block about %}
<div >
        <h4 id='about'> This is a final year project conducted by <b>Aman Bhattarai</b>, <b>Birju Ghetia</b>, <b>Simrit Dhiman</b> and <b>Deepika Sharma</b> under the guidance of <a class='opaq' href='https://github.com/qasimch86/' rel="nofollow noreferrer" target="_blank">Professor Qasim Ali</a>,  in which we implemented a Spotify recommendation system that <br/>takes a playlist link as an input and outputs a list of song recommendations based on various audio features. 
           </h4>
</div>
{% endblock %}